<!DOCTYPE html>
<html lang="ru">

<head>
	    {% load staticfiles %}

	<meta charset="utf-8">
	<!-- <base href="/"> -->
	<script type="text/javascript" src="{% static 'menu/js/jquery_library.js' %}"></script>
	<title>Le Restaurante</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="icon" href="{% static 'menu/img/favicon/favicon.ico' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'menu/img/favicon/apple-touch-icon-180x180.png' %}" >
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="{% static 'menu/css/main.min.css' %}" >

</head>

<body>
	<!-- Custom HTML -->
	<div class="header col-12">
		<div class="row">
			<div class="logo col-4">
				<img src="{% static 'img/logo.svg' %}" alt="Лого">
			</div>
			<div class="navbar col-8">
				<nav>
					<ul>
						<li><a class="active" href="#">PRICE LIST</a></li>
						<li><a href="#">OPENING HOURS</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="#">CONTACTS</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="messages row">
			<div class="banner_left col-4">
				<div class="message_left">
					<div class="message_wrap">
					<p>
						FOR MEAT LOVERS
					</p>
					<button class="full_menu_button">FULL MENU</button>
					</div>
				</div>
			</div>
			<div class="banner col-4">
				<div class="message">
					<div class="message_wrap">
						<p>
							VEGETARIAN & VEGAN
						</p>
					<button class="full_menu_button">FULL MENU</button>
					</div>
				</div>
			</div>
			<div class="banner_right col-4">
				<div class="message_right">
					<div class="message_wrap">
					<p>
						SEE OUR SECRETS
					</p>
					<button class="full_menu_button">TAKE ME THERE</button>
					</div>
				</div>
			</div>						
		</div>
	</div>
	<div class="daily_menu col-12">
		<div class="daily_menu_wrap col-12">

			<h1>
				DAILY MENU
			</h1>

        {% load query_update %}

    <a name="1"></a>
			
    <form action="#1">
        Show vegan menu only
        {{ form.for_vegan }}
        Sort by:
        {{ form.sort_field }}
        <input type="submit">
    </form>

    {% for dish in object_list %}
       <b><img src="{{ dish.img.url }}"> {{ dish.title }} {{ dish.price }}$ allergens: {{ dish.allergens }} {{ cart_form }}</b>
       <br/>
    {% endfor %}


    {% if paginator.num_pages > 1 %}
        {% if page_obj.number != 1 %}
            <a href="?{% query_update request.GET 'page' 1 %}#1">first</a>
        {% endif %}
        {% if page_obj.has_previous %}
            <a href="?{% query_update request.GET 'page' page_obj.previous_page_number %}#1">&larr;</a>
        {% endif %}
        <span class="current_page"> {{ page_obj.number }}</span>
        {% if page_obj.has_next %}
            <a href="?{% query_update request.GET 'page' page_obj.next_page_number %}#1">&rarr;</a>
        {% endif %}
        {% if page_obj.number != paginator.num_pages %}
            <a href="?{% query_update request.GET 'page' paginator.num_pages %}#1">last</a>
        {% endif %}

    {% endif %}


			<div class="online_menu">
				<div class="online_menu_wrap row">
					<div class="online_menu_img col-6">
						<img src="{% static 'menu/img/online_menu.png' %}" alt="Меню">
					</div>
					<div class="online_menu_text col-6">
						<h2>ONLINE MENU</h2>
						<p class="item_name">SPAGHETTI WITH FRESH TOMATOES AND DRESSING</p>
						<p class="about_item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id justo convallis, molestie diam vitae, efficitur diam. Curabitur eu odio in erat tincidunt aliquet ut sit amet odio. Etiam vel dictum mi. Ut commodo congue leo. Aenean eu tellus quis nulla aliquet lobortis eu eu est. In felis magna, consectetur condimentum fermentum at, dictum ut mauris.</p>
						<p class="order_button_wrap"><button class="order_button">12$ - ORDER</button></p>
					</div>
				</div>
			</div>
			<div class="next_offer">
				<p>NEXT OFFER</p><i class="fas fa-angle-right"></i>
			</div>
		</div>
	</div>
	<div class="about row">
		<div class="location_wrap row">
			<div class="location">
				<div class="where"><p>WHERE TO FIND US?</p></div>
				<div class="name_adress_wrap row">
					<div class="name col-7"><img src="{% static 'menu/img/logo.png' %}" alt="Лого"></div>
					<div class="adress col-5"><p>Hršpic 128</p><p>Pardubice, 530 01</p></div>
				</div>
				<div class="map_butt">
					<button class="map_button">SHOW ON A MAP</button>
				</div>
			</div>
		</div>
	</div>
	<div class="footer row">
		<div class="about_us col-2">
			<h3>ABOUT US</h3>
			<ul>
				<li><a href="#">OUR STORY</a></li>
				<li><a href="#">SUPPLIERS</a></li>
				<li><a href="#">NEWS & UPDATES</a></li>
				<li><a href="#">FRANCHISE</a></li>
			</ul>
		</div>
		<div class="for_you col-2">
			<h3>FOR YOU</h3>
			<ul>
				<li><a href="#">REVIEWS</a></li>
				<li><a href="#">FACEBOOK</a></li>
				<li><a href="#">INSTAGRAM</a></li>
				<li><a href="#">CAREER</a></li>
			</ul>
		</div>
		<div class="links col-2">
			<h3>USEFUL LINKS</h3>
			<ul>
				<li><a href="#">MAP OF WEB</a></li>
				<li><a href="#">PARTNERS</a></li>
				<li><a href="#">MOBILE APP</a></li>
				<li><a href="#">OTHER</a></li>
			</ul>
		</div>
		<div class="newsletter col-6">
			<h3>SIGN UP TO OUR NEWSLETTER</h3>
			<input class="email" placeholder="E-MAIL ADRESS"></input>
			<button class="sign_button">SIGN UP</button>
		</div>
	</div>
</body>
</html>
